<!DOCTYPE html>
<html>
  <head>
    <title>RuCast</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'reset', media: 'all' %>
    <%= stylesheet_link_tag 'bootstrap_and_overrides', media: 'all' %>

  </head>

  <body class="text-center">

      <%= yield %>
   
  </body>
</html>
